p {
    color: white;
    font-size: 40px;
    text-align: center;
}

para1 {
	font-size: 20px;
    text-align: center;
    color: white; 
}

h1 {
	color: white;
	font-size: 75px;
	text-align: center;
}

body {

    background: url(Heaven.JPG);
    background-repeat: no-repeat;
    background-size: 300px 100px;

}



